<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MISSION CONTROL</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
</head>
<style>
    body {
        padding-top: 20px;
        background: black;
        color: white;
    }

    .col {
        border: 1px solid white;
        padding: 1.5em;
        text-align: center;
    }
</style>
<body>

    <div class="container-fluid text-center">
        <h1><span id="name"></div></h1>
        <hr>
    </div>

    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="">
                    <div id="altitudeGraph"></div>
                </div>
            </div>

            <br>

            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="text-center">
                            <h2>FLIGHT INFORMATION</h2>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <strong>SPEED </strong>
                            </div>
                            <div class="col">
                                <div id="speed"></div> m/s
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <strong>ALTITUDE </strong>
                            </div>
                            <div class="col">
                                <div id="altitude"></div> m
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <strong>APOAPSIS </strong>
                            </div>
                            <div class="col">
                                <div id="apoapsis"></div> m
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <strong>PERIAPSIS </strong>
                            </div>
                            <div class="col">
                                <div id="periapsis"></div> m
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>

        var x = [];
        var y = [];
        var layout = {
            xaxis: {title: "Mission Time (s)"},
            yaxis: {title: "Altitude (m)"},
            margin: {t: 20}
        }

        var name;
        var met;

        $('document').ready(function() {
            setInterval(function() {
                $.ajax({
                    type: 'GET',
                    url: '/krpc/telem',
                    dataType: 'json',
                    success: function(data) {
                        $('#name').html(data.vessel_name);
                        $('#met').html(data.met);
                        $('#altitude').html(data.altitude);
                        $('#speed').html(data.speed);
                        $('#apoapsis').html(data.apoapsis);
                        $('#periapsis').html(data.periapsis);

                        met = data.met;
                        x.push(data.met);
                        y.push(data.altitude);
                    },
                    error: function(jqXHR, code, err) {
                        console.log(jqXHR, code, err);
                    }
                });

                if (parseInt(met) > 0) {
                    var plot = {x, y, type: 'lines'};
                    var dataPlot = [plot];

                    Plotly.newPlot('altitudeGraph', dataPlot, layout);
                }
            }, 500);
        })

    </script>

</body>
</html>
